<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.he.hear.mapper.SonglistTagMapper">

    <!--public boolean insertSonglistTag(int userId,int tagId);-->
    <insert id="insertSonglistTag" parameterType="int">
        INSERT INTO songlist_tag (songlist_ID,tag_ID) VALUES (#{param1},#{param2})
    </insert>

    <!--public boolean removeSonglistTag(int songlistId);-->
    <delete id="removeSonglistTag" parameterType="int">
        DELETE FROM songlist_tag WHERE songlist_ID=#{_parameter}
    </delete>
</mapper>
