<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.he.hear.mapper.PraiseMapper">
<!--public Praise getPraise(Integer mid);-->
    <select id="getPraise" resultType="com.he.hear.pojo.Praise" >
        SELECT * from praise WHERE moment_id=#{_parameter}
    </select>
    <!--public boolean deletePraise(Integer pid);-->
    <delete id="deletePraise" parameterType="int">
        DELETE FROM praise WHERE id=#{_parameter}
    </delete>
    <!--public Praise insertPraise(Integer mid,Integer uid);-->
    <insert id="insertPraise" parameterType="com.he.hear.pojo.Praise">
        INSERT INTO Praise(moment_id,usr_id) VALUES (#{moment_id},#{usr_id})
    </insert>

</mapper>
