<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MPlayer音乐播放器</title>
    <link rel="stylesheet" th:href="@{/css/component.css}" type="text/css" media="all"/>
    <!--公共样式-->
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>

    <style>

    </style>
</head>
<body>
    <div style="background-color: #d94f5c;height: 20px;"></div>
    <div class="container">
        <div style="text-align: left">
            <h3>排行榜</h3>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-md-3" style="border: 1px red solid;height: 800px;background-color: #efefef">
                <div class="mb-5"></div>
                <table class="table table-hover">
                    <tr>
                        <td>
                            <div class="row">
                                <a href="" class="itm f-tdn">
                                    <div class="head col-md-3"><img th:src="@{/img/rege.jpg}" style="height: 72px;" alt="热歌榜"></div>
                                    <div class="ifo col-md-9">
                                        <h4>Hear音乐热歌榜</h4>
                                    </div>
                                    <!--<div class="col-md-2"></div>-->
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <a href="" class="itm f-tdn">
                                    <div class="head col-md-3"><img th:src="@{/img/xinge.jpg}" style="height: 72px;" alt="新歌榜"></div>
                                    <div class="ifo col-md-9">
                                        <h4>Hear音乐新歌榜</h4>
                                    </div>
                                    <!--<div class="col-md-2"></div>-->
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <a href="" class="itm f-tdn">
                                    <div class="head col-md-3"><img th:src="@{/img/yuanchuang.jpg}" style="height: 72px;" alt="原创榜"></div>
                                    <div class="ifo col-md-9">
                                        <h4>Hear音乐原创榜</h4>
                                    </div>
                                    <!--<div class="col-md-2"></div>-->
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6" style="border: 1px yellow solid;height: 800px;">
                <div class="mb-5"></div>
                <div class="">
                    <div class="row" style="text-align: left">
                        <div class="col-md-4">
                            <img th:src="@{/img/rege.jpg}" style="height: 152px;" alt="热歌榜">
                        </div>
                        <div class="col-md-8">
                            <div class="mb-5">
                                <h3>Hear音乐热歌榜</h3>
                            </div>
                            <div>
                                <a class="btn" style="background-color: #0099FF;border-bottom-right-radius: 0;border-top-right-radius: 0" href=""><img style="width: 18px;height: 18px;" th:src="@{/images/Play00.png}" alt="">播放</a>
                                <a class="btn" style="position: relative;left: -4px;background-color: #0099FF;border-bottom-left-radius: 0;border-top-left-radius: 0;border-left:1px black solid ;" href=""><img style="width: 18px;height: 18px;" th:src="@{/images/add.png}" alt=""></a>
                                <a class="btn" href="" style="background-color: #d4d4d4"><img th:src="@{/images/download01.png}" style="width: 18px;height: 18px;" alt="">下载</a>
                            </div>

                        </div>
                    </div>
                    <hr>
                    <h3>歌曲列表</h3>
                    <div >
                        <table class="table table-hover table-striped">
                            <tr >
                                <th style="text-align: center">标题</th>
                                <th style="text-align: center">时长</th>
                                <th style="text-align: center">歌手</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-1" style="border: 1px green solid;height: 800px;"></div>-->
            <div class="col-md-3" style="border: 1px yellow solid;height: 800px;">
                <table width="270px" class="table table-hover table-striped">
                    <th>
                        <h3>入驻歌手</h3>
                        <a href=""><span style="float:right">查看全部></span></a>
                    </th>
                    <tr>
                        <td>
                            <div class="row">
                                <a href="" class="itm f-tdn">
                                    <div class="head col-md-3"><img class="j-img" src="http://p2.music.126.net/p9U80ex1B1ciPFa125xV5A==/5931865232210340.jpg?param=62y62"></div>
                                    <div class="ifo col-md-7">
                                        <h4><span class="nm f-fs1 f-ib f-thide">张惠妹aMEI</span></h4>
                                        <p class="f-thide s-fc3">台湾歌手张惠妹</p>
                                    </div>
                                    <div class="col-md-2"></div>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <a href="" class="itm f-tdn">
                                    <div class="head col-md-3"><img class="j-img" src="http://p2.music.126.net/p9U80ex1B1ciPFa125xV5A==/5931865232210340.jpg?param=62y62"></div>
                                    <div class="ifo col-md-7">
                                        <h4><span class="nm f-fs1 f-ib f-thide">张惠妹aMEI</span></h4>
                                        <p class="f-thide s-fc3">台湾歌手张惠妹</p>
                                    </div>
                                    <div class="col-md-2"></div>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <a href="" class="itm f-tdn">
                                    <div class="head col-md-3"><img class="j-img" src="http://p2.music.126.net/p9U80ex1B1ciPFa125xV5A==/5931865232210340.jpg?param=62y62"></div>
                                    <div class="ifo col-md-7">
                                        <h4><span class="nm f-fs1 f-ib f-thide">张惠妹aMEI</span></h4>
                                        <p class="f-thide s-fc3">台湾歌手张惠妹</p>
                                    </div>
                                    <div class="col-md-2"></div>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <a href="" class="itm f-tdn">
                                    <div class="head col-md-3"><img class="j-img" src="http://p2.music.126.net/p9U80ex1B1ciPFa125xV5A==/5931865232210340.jpg?param=62y62"></div>
                                    <div class="ifo col-md-7">
                                        <h4><span class="nm f-fs1 f-ib f-thide">张惠妹aMEI</span></h4>
                                        <p class="f-thide s-fc3">台湾歌手张惠妹</p>
                                    </div>
                                    <div class="col-md-2"></div>
                                </a>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>




</body>
<script th:src="@{/bootstrap/jquery.js}"></script>
<script th:src="@{/bootstrap/bootstrap.min.js}"></script>

</html>
