<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MPlayer音乐播放器</title>
    <link rel="stylesheet" th:href="@{/css/mplayer.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/component.css}" type="text/css" media="all"/>
    <!--公共样式-->
    <!--<link rel="stylesheet" th:href="@{/css/normalize.css}" />-->
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>

    <style>
        .menu__item_current {
            border: 2px solid #d94f5c;
        }
        .thumbnail div > img {
            margin-right: auto;
            margin-left: auto;
        }
        div.thumbnail:hover,
        div.thumbnail:focus,
        div.thumbnail.active {
            border-color: #337ab7;
        }
        .thumbnail  {
            padding: 0;
        }
        .thumbnail {
            display: block;
            padding: 4px;
            margin-bottom: 20px;
            line-height: 1.42857143;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            -webkit-transition: border .2s ease-in-out;
            -o-transition: border .2s ease-in-out;
            transition: border .2s ease-in-out;
        }
        .bandan{
            font-size: 1.5em;
            color: #555555;
        }
    </style>
</head>
<body>
<!--<div class="info">
	<h1>Hear</h1>
	<p>请按F12打开控制台查看回调事件效果</p>
</div>-->
<!--导航栏-->
<div class="container" style="height: 70px; width: 100%; margin: 0;padding: 0;">
    <nav class="nav menu menu--miranda" style="background-color:#000000;height: 70px;">
        <div class="row">
            <div class="col-md-2"><img href="#" id="logo" th:src="@{/img/logo.png}"/></div>
            <div class="col-md-1"><span class="menu__item"><a class="menu__link menu__item_current">推荐</a></span></div>
            <div class="col-md-1"><span class="menu__item"><a class="menu__link">排行榜</a></span></div>
            <div class="col-md-1"><span class="menu__item"><a class="menu__link">歌单</a></span></div>
            <div class="col-md-1"><span class="menu__item"><a class="menu__link">歌手</a></span></div>
            <div class="col-md-1"><span class="menu__item"><a class="menu__link">我的音乐</a></span></div>
            <div class="col-md-1"><span class="menu__item"><a class="menu__link">朋友</a></span></div>
            <div class="col-md-2 search d7">
                <form th:action="@{/search/searchall.action}" method="get">
                    <input type="text" placeholder="Hear..." name="content">
                    <button type="submit"><img th:src="@{/img/1.jpg}" style="position: relative;left: -6px"/></button>
                </form>
            </div>
            <div class="col-md-2">
				<span class="menu__item">
				<a href="#" class="menu__link" onclick="">登录</a>
				</span>
            </div>
        </div>

        <!--<ul class="menu__list" style="width: 77%;" id="ul">
            <li class="menu__item menu__item&#45;&#45;current" style="margin-left: 1px"><a href="#" class="menu__link">推荐</a></li>
            <li class="menu__item" style="margin-left: 1px"><a class="menu__link" onclick="" href="javascript:void(0) ">排行榜</a></li>
            <li class="menu__item" style="margin-left: 1px"><a class="menu__link" onclick="" href="javascript:void(0)">歌单</a></li>
            <li class="menu__item" style="margin-left: 1px"><a href="#" class="menu__link" onclick="" >歌手</a></li>
            <li class="menu__item" style="margin-left: 1px"><a href="#" class="menu__link" onclick="">我的音乐</a></li>
            <li class="menu__item" style="margin-left: 1px"><a href="#" class="menu__link" onclick="">朋友</a></li>
            <div class="search d7">
                <form th:action="@{/search/searchall.action}" method="get">
                    <input type="text" placeholder="Hear..." name="content">
                    <button type="submit"><img th:src="@{/img/1.jpg}" style="position: relative;left: -5px"/></button>
                </form>
            </div>
            <li class="menu__item" style="margin-left: -10px;">
                &lt;!&ndash;<th:if test="${empty sessionScope.user}">&ndash;&gt;
                    <a href="#" class="menu__link" onclick="" >登录</a>
                &lt;!&ndash;</th:if>&ndash;&gt;
                &lt;!&ndash;<th:if test="${not empty sessionScope.user}">
                    <a href="javascript:void(0)" style="position:relative;top: 10px;width: 80px;"onclick="" ><img style="border-radius: 40px;width: 40px;height: 40px;display: inline;" src="<%= resourcesPath%>head/${sessionScope.user.img}" ></a>
                    <a href="#"  style="position:relative;top: 10px;width: 80px;color: #e3e3e3;margin-left: 10px" onclick="">退出</a>
                </th:if>&ndash;&gt;
            </li>
        </ul>-->
    </nav>
</div>

<div style="background-color: #d94f5c;height: 20px;"></div>
<div class="container">
    <!--轮播图-->
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img th:src="@{/img/17.jpg}" alt="First slide"/>
            </div>
            <div class="item">
                <img th:src="@{/img/19.jpg}" alt="Second slide"/>
            </div>
            <div class="item">
                <img th:src="@{/img/21.jpg}" alt="Third slide"/>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
<!--        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next">&rsaquo;</a>-->
    </div>

    <!--模块-->
    <div class="row" style="border: 1px solid red">
        <!--左侧推荐-->
        <div class="col-md-9" style="height: 800px;border: 1px solid yellow">
            <!--热门Popular-->
            <div style="height: 532px">
                <div style="height: 35px">
                    <span class="bandan">热门歌单</span>
                </div>
                <!--歌单-->
                <div class="row">
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                            <span style="color: #ffffff;position: relative;top: -20px;left: 8%;">播放次数:22222</span><span class="bandan"></span>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                        </div>
                    </div>
                </div>
            </div>


            <div>
                <span class="bandan">热门专辑</span>
            </div>
            <!--专辑-->
            <div  style="height: 100px;">
                <div class="row">
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <span class="bandan">热门单曲</span>
            </div>
            <!--单曲（排行榜）-->
            <div  style="height: 400px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="container">
                            <img th:src="@{/img/rege.jpg}" alt="热歌榜">
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="container">
                            <img th:src="@{/img/xinge.jpg}" alt="新歌版">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container">
                            <img th:src="@{/img/yuanchuang.jpg}" alt="原创版">
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <!--右侧歌手-->
        <div class="col-md-3" style="height: 1390px;border: 1px solid green"></div>

    </div>



</div>

<div class="mp">
    <div class="mp-box">
        <img th:src="@{/img/mplayer_error.png}" alt="music cover" class="mp-cover">
        <div class="mp-info">
            <p class="mp-name">燕归巢</p>
            <p class="mp-singer">许嵩</p>
            <p><span class="mp-time-current">00:00</span>/<span class="mp-time-all">00:00</span></p>
        </div>
        <div class="mp-btn">
            <button class="mp-prev" title="上一首"></button>
            <button class="mp-pause" title="播放"></button>
            <button class="mp-next" title="下一首"></button>
            <button class="mp-mode" title="播放模式"></button>
            <div class="mp-vol">
                <button class="mp-vol-img" title="静音"></button>
                <div class="mp-vol-range" data-range_min="0" data-range_max="100" data-cur_min="80">
                    <div class="mp-vol-current"></div>
                    <div class="mp-vol-circle"></div>
                </div>
            </div>
        </div>
        <div class="mp-pro">
            <div class="mp-pro-current"></div>
        </div>
        <div class="mp-menu">
            <button class="mp-list-toggle"></button>
            <button class="mp-lrc-toggle"></button>
        </div>
    </div>
    <button class="mp-toggle">
        <span class="mp-toggle-img"></span>
    </button>
    <div class="mp-lrc-box">
        <ul class="mp-lrc"></ul>
    </div>
    <button class="mp-lrc-close"></button>
    <div class="mp-list-box">
        <ul class="mp-list-title"></ul>
        <table class="mp-list-table">
            <thead>
            <tr>
                <th>歌名</th>
                <th>歌手</th>
                <th>时长</th>
            </tr>
            </thead>
            <tbody class="mp-list"></tbody>
        </table>
    </div>
</div>


<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/js/mplayer.js}"></script>
<script th:src="@{/js/mplayer-list.js}"></script>
<script th:src="@{/js/mplayer-functions.js}"></script>
<script src="//cdn.bootcss.com/jquery-nstslider/1.0.13/jquery.nstSlider.min.js"></script>
<script>
    $(function(){
        $('#myCarousel').carousel({interval:5000});
    })
</script>
<script>
    var modeText = ['顺序播放', '单曲循环', '随机播放', '列表循环'];
    var player = new MPlayer({
        // 容器选择器名称
        containerSelector: '.mp',
        // 播放列表
        songList: mplayer_song,
        // 专辑图片错误时显示的图片
        defaultImg: 'img/mplayer_error.png',
        // 自动播放
        autoPlay: true,
        // 播放模式(0->顺序播放,1->单曲循环,2->随机播放,3->列表循环(默认))
        playMode: 0,
        playList: 0,
        playSong: 0,
        // 当前歌词距离顶部的距离
        lrcTopPos: 34,
        // 列表模板，用${变量名}$插入模板变量
        listFormat: '<tr><td>${name}$</td><td>${singer}$</td><td>${time}$</td></tr>',
        // 音量滑块改变事件名称
        volSlideEventName: 'change',
        // 初始音量
        defaultVolume: 80
    }, function () {
        // 绑定事件
        this.on('afterInit', function () {
            console.log('播放器初始化完成，正在准备播放');
        }).on('beforePlay', function () {
            var $this = this;
            var song = $this.getCurrentSong(true);
            var songName = song.name + ' - ' + song.singer;
            console.log('即将播放' + songName + '，return false;可以取消播放');
        }).on('timeUpdate', function () {
            var $this = this;
            console.log('当前歌词：' + $this.getLrc());
        }).on('end', function () {
            var $this = this;
            var song = $this.getCurrentSong(true);
            var songName = song.name + ' - ' + song.singer;
            console.log(songName + '播放完毕，return false;可以取消播放下一曲');
        }).on('mute', function () {
            var status = this.getIsMuted() ? '已静音' : '未静音';
            console.log('当前静音状态：' + status);
        }).on('changeMode', function () {
            var $this = this;
            var mode = modeText[$this.getPlayMode()];
            $this.dom.container.find('.mp-mode').attr('title', mode);
            console.log('播放模式已切换为：' + mode);
        });
    });


    $(document.body).append(player.audio); // 测试用

    setEffects(player);


</script>
</body>
</html>
