<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MPlayer音乐播放器</title>
    <link rel="stylesheet" th:href="@{/css/component.css}" type="text/css" media="all"/>
    <!--公共样式-->
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>

    <style>
        .thumbnail div > img {
            margin-right: auto;
            margin-left: auto;
        }
        div.thumbnail:hover,
        div.thumbnail:focus,
        div.thumbnail.active {
            border-color: #337ab7;
        }
        .thumbnail  {
            padding: 0;
            margin: 0;
            width: 145px;
            height: 148px;
        }
        .thumbnail {
            display: block;
            /*margin-bottom: 20px;*/
            line-height: 1.42857143;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            -webkit-transition: border .2s ease-in-out;
            -o-transition: border .2s ease-in-out;
            transition: border .2s ease-in-out;
        }
        .bandan{
            font-size: 1.5em;
            color: #555555;
        }
        .Info{
            position: relative;
            left: 1px;
            top: -15px;
            color: white;
            background-color: #999999;
            width: 140px;
        }
        .listen{
            position: relative;
            left: -25%;
        }
        .Img-15{
            width: 15px;
            height: 15px;
        }
        .play{
            position:absolute;
            right: 1px;
        }
        .play:hover{
            cursor: pointer;
        }

    </style>
</head>
<body>


<div style="background-color: #d94f5c;height: 20px;"></div>
<div class="container">
    <!--轮播图-->
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img th:src="@{/img/17.jpg}" alt="First slide"/>
            </div>
            <div class="item">
                <img th:src="@{/img/19.jpg}" alt="Second slide"/>
            </div>
            <div class="item">
                <img th:src="@{/img/21.jpg}" alt="Third slide"/>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
<!--        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next">&rsaquo;</a>-->
    </div>

    <!--模块-->
    <div class="row">
        <!--左侧推荐-->
        <div class="col-md-9">
            <!--热门Popular-->
            <div>
                <div class="mb-2">
                    <span class="bandan ">热门歌单</span>
                </div>
                <!--歌单-->
                <div class="row">
                    <div class="col-md-3 mb-2">
                        <div href="#" class="thumbnail" style="">
                            <img th:src="@{/Hear}+'/img/head/林俊杰.jpg'" style="height: 140px;width: 140px" alt="...">
                            <!--<img th:src="@{/img/demo.jpg}" alt="...">-->
                            <div class="Info" >
                            <span class="listen"><img class="Img-15" th:src="@{/images/listen.png}">  22222</span>
                                <span class="play" ><img class="Img-15" th:src="@{/images/play.png}" alt=""></span>
                            </div>
                        </div>
                        <div>
                            <span>江南</span>
                        </div>

                    </div>
                    <div class="col-md-3 mb-2">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                            <span style="color: #ffffff;position: relative;top: -20px;left: 8%;">播放次数:22222</span><span></span>
                        </div>
                        <div>
                            <span>江南</span>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                            <span style="color: #ffffff;position: relative;top: -20px;left: 8%;">播放次数:22222</span><span></span>
                        </div>
                        <div>
                            <span>江南</span>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                            <span style="color: #ffffff;position: relative;top: -20px;left: 8%;">播放次数:22222</span><span></span>
                        </div>
                        <div>
                            <span>江南</span>
                        </div>
                    </div>

                    <div class="col-md-3 mb-2">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                            <span style="color: #ffffff;position: relative;top: -20px;left: 8%;">播放次数:22222</span><span></span>
                        </div>
                        <div>
                            <span>江南</span>
                        </div>
                    </div>

                    <div class="col-md-3 mb-2">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                            <span style="color: #ffffff;position: relative;top: -20px;left: 8%;">播放次数:22222</span><span></span>
                        </div>
                        <div>
                            <span>江南</span>
                        </div>
                    </div>

                    <div class="col-md-3 mb-2">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                            <span style="color: #ffffff;position: relative;top: -20px;left: 8%;">播放次数:22222</span><span></span>
                        </div>
                        <div>
                            <span>江南</span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                            <span style="color: #ffffff;position: relative;top: -20px;left: 8%;">播放次数:22222</span><span></span>
                        </div>
                        <div>
                            <span>江南</span>
                        </div>
                    </div>

                </div>




            </div>


            <div class="mb-2">
                <span class="bandan ">热门专辑</span>
            </div>
            <!--专辑-->
            <div class="mb-2">
                <div class="row">
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                        </div>
                        <div>
                            <span>江南</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                        </div>
                        <div>
                            <span>江南</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                        </div>
                        <div>
                            <span>江南</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div href="#" class="thumbnail">
                            <img th:src="@{/img/demo.jpg}" alt="...">
                        </div>
                        <div>
                            <span>江南</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="mb-2">
                <span class="bandan ">热门单曲</span>
            </div>
            <!--单曲（排行榜）-->
            <div class="mb-2">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <img th:src="@{/img/rege.jpg}" alt="热歌榜">
                        </div>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <img th:src="@{/img/xinge.jpg}" alt="新歌版">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <img th:src="@{/img/yuanchuang.jpg}" alt="原创版">
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <!--右侧歌手-->
        <div class="col-md-3" style="height: 1390px;border: 1px solid green"></div>

    </div>



</div>

</body>
<script th:src="@{/bootstrap/jquery.js}"></script>
<script th:src="@{/bootstrap/bootstrap.min.js}"></script>

<script th:inline="javascript">
    $(function(){
        $('#myCarousel').carousel({interval:5000});
    })
</script>
</html>
