<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="n-bill">
    <div class="v-hd2">
        <a href="/discover/toplist" class="tit f-ff2 f-tdn">榜单</a>
        <span class="more"><a href="/discover/toplist" class="s-fc3">更多</a><i class="cor s-bg s-bg-6">&nbsp;</i></span>
    </div>
    <div class="n-bilst" id="top-flag">
        <dl class="blk ">
            <dt class="top">
                <div class="cver u-cover u-cover-4">
                    <img class="j-img" data-src="http://p4.music.126.net/DrRIg6CrgDfVLEph9SNh7w==/18696095720518497.jpg?param=100y100" src="http://p4.music.126.net/DrRIg6CrgDfVLEph9SNh7w==/18696095720518497.jpg?param=100y100">
                    <a href="/discover/toplist?id=19723756" class="msk" title="云音乐飙升榜"></a>
                </div>
                <div class="tit">
                    <a href="/discover/toplist?id=19723756" title="云音乐飙升榜"><h3 class="f-fs1 f-thide">云音乐飙升榜</h3></a>
                    <div class="btn">
                        <a href="javascript:;" class="s-bg s-bg-9 f-tdn" hidefocus="true" title="播放" data-res-type="13" data-res-id="19723756" data-res-action="play" data-res-from="31" data-res-data="19723756">播放</a>
                        <a href="javascript:;" hidefocus="true" class="s-bg s-bg-10 f-tdn subscribe-flag " data-plid="19723756" title="收藏">收藏</a>
                    </div>
                </div>
            </dt>
            <dd>
                <ol>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no no-top">1</span>
                        <a href="/song?id=1336856777" class="nm s-fc0 f-thide" title="我曾">我曾</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1336856777" data-res-action="play" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1336856777" data-res-action="addto" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1336856777" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no no-top">2</span>
                        <a href="/song?id=1349914143" class="nm s-fc0 f-thide" title="CROWN">CROWN</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1349914143" data-res-action="play" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1349914143" data-res-action="addto" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1349914143" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no no-top">3</span>
                        <a href="/song?id=1349913174" class="nm s-fc0 f-thide" title="Blue Orangeade">Blue Orangeade</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1349913174" data-res-action="play" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1349913174" data-res-action="addto" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1349913174" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">4</span>
                        <a href="/song?id=1325905146" class="nm s-fc0 f-thide" title="胡广生">胡广生</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1325905146" data-res-action="play" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1325905146" data-res-action="addto" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="0" data-res-type="18" data-res-id="1325905146" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">5</span>
                        <a href="/song?id=1349914149" class="nm s-fc0 f-thide" title="Our Summer">Our Summer</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1349914149" data-res-action="play" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1349914149" data-res-action="addto" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1349914149" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">6</span>
                        <a href="/song?id=1325897863" class="nm s-fc0 f-thide" title="缘起 (前世今生版)">缘起 (前世今生版)</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1325897863" data-res-action="play" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1325897863" data-res-action="addto" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1325897863" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">7</span>
                        <a href="/song?id=1349343968" class="nm s-fc0 f-thide" title="最佳损友 (国语版)">最佳损友 (国语版)</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1349343968" data-res-action="play" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1349343968" data-res-action="addto" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="1000" data-res-fee="1" data-res-type="18" data-res-id="1349343968" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">8</span>
                        <a href="/song?id=1342771403" class="nm s-fc0 f-thide" title="失眠">失眠</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1342771403" data-res-action="play" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1342771403" data-res-action="addto" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1342771403" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">9</span>
                        <a href="/song?id=1304882023" class="nm s-fc0 f-thide" title="当真">当真</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1304882023" data-res-action="play" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1304882023" data-res-action="addto" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1304882023" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">10</span>
                        <a href="/song?id=1346105096" class="nm s-fc0 f-thide" title="嘲笑孤单">嘲笑孤单</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1346105096" data-res-action="play" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1346105096" data-res-action="addto" data-res-from="31" data-res-data="19723756"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1346105096" data-res-action="subscribe"></a>
                        </div>
                    </li>
                </ol>
                <div class="more"><a href="/discover/toplist?id=19723756" class="s-fc0">查看全部&gt;</a></div>
            </dd>
        </dl>
        <dl class="blk ">
            <dt class="top">
                <div class="cver u-cover u-cover-4">
                    <img class="j-img" data-src="http://p4.music.126.net/N2HO5xfYEqyQ8q6oxCw8IQ==/18713687906568048.jpg?param=100y100" src="http://p4.music.126.net/N2HO5xfYEqyQ8q6oxCw8IQ==/18713687906568048.jpg?param=100y100">
                    <a href="/discover/toplist?id=3779629" class="msk" title="云音乐新歌榜"></a>
                </div>
                <div class="tit">
                    <a href="/discover/toplist?id=3779629" title="云音乐新歌榜"><h3 class="f-fs1 f-thide">云音乐新歌榜</h3></a>
                    <div class="btn">
                        <a href="javascript:;" class="s-bg s-bg-9 f-tdn" hidefocus="true" title="播放" data-res-type="13" data-res-id="3779629" data-res-action="play" data-res-from="31" data-res-data="3779629">播放</a>
                        <a href="javascript:;" hidefocus="true" class="s-bg s-bg-10 f-tdn subscribe-flag " data-plid="3779629" title="收藏">收藏</a>
                    </div>
                </div>
            </dt>
            <dd>
                <ol>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no no-top">1</span>
                        <a href="/song?id=1336856777" class="nm s-fc0 f-thide" title="我曾">我曾</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1336856777" data-res-action="play" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1336856777" data-res-action="addto" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1336856777" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no no-top">2</span>
                        <a href="/song?id=1348568908" class="nm s-fc0 f-thide" title="蜂鸟">蜂鸟</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1348568908" data-res-action="play" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1348568908" data-res-action="addto" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1348568908" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no no-top">3</span>
                        <a href="/song?id=1345848098" class="nm s-fc0 f-thide" title="绿色">绿色</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1345848098" data-res-action="play" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1345848098" data-res-action="addto" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1345848098" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">4</span>
                        <a href="/song?id=1349914143" class="nm s-fc0 f-thide" title="CROWN">CROWN</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1349914143" data-res-action="play" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1349914143" data-res-action="addto" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1349914143" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">5</span>
                        <a href="/song?id=1336866698" class="nm s-fc0 f-thide" title="浮白">浮白</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1336866698" data-res-action="play" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1336866698" data-res-action="addto" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1336866698" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">6</span>
                        <a href="/song?id=1348587670" class="nm s-fc0 f-thide" title="Senorita">Senorita</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1348587670" data-res-action="play" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1348587670" data-res-action="addto" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1348587670" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">7</span>
                        <a href="/song?id=1336856864" class="nm s-fc0 f-thide" title="形容">形容</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1336856864" data-res-action="play" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1336856864" data-res-action="addto" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1336856864" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">8</span>
                        <a href="/song?id=1347529801" class="nm s-fc0 f-thide" title="只要有想见的人，就不是孤身一人">只要有想见的人，就不是孤身一人</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1347529801" data-res-action="play" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1347529801" data-res-action="addto" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="0" data-res-type="18" data-res-id="1347529801" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">9</span>
                        <a href="/song?id=1346093140" class="nm s-fc0 f-thide" title="关于孤独我想说的话 ">关于孤独我想说的话 </a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1346093140" data-res-action="play" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1346093140" data-res-action="addto" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1346093140" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">10</span>
                        <a href="/song?id=1346079558" class="nm s-fc0 f-thide" title="没有意外">没有意外</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1346079558" data-res-action="play" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1346079558" data-res-action="addto" data-res-from="31" data-res-data="3779629"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="0" data-res-type="18" data-res-id="1346079558" data-res-action="subscribe"></a>
                        </div>
                    </li>
                </ol>
                <div class="more"><a href="/discover/toplist?id=3779629" class="s-fc0">查看全部&gt;</a></div>
            </dd>
        </dl>
        <dl class="blk blk-1">
            <dt class="top">
                <div class="cver u-cover u-cover-4">
                    <img class="j-img" data-src="http://p4.music.126.net/sBzD11nforcuh1jdLSgX7g==/18740076185638788.jpg?param=100y100" src="http://p4.music.126.net/sBzD11nforcuh1jdLSgX7g==/18740076185638788.jpg?param=100y100">
                    <a href="/discover/toplist?id=2884035" class="msk" title="网易原创歌曲榜"></a>
                </div>
                <div class="tit">
                    <a href="/discover/toplist?id=2884035" title="网易原创歌曲榜"><h3 class="f-fs1 f-thide">网易原创歌曲榜</h3></a>
                    <div class="btn">
                        <a href="javascript:;" class="s-bg s-bg-9 f-tdn" hidefocus="true" title="播放" data-res-type="13" data-res-id="2884035" data-res-action="play" data-res-from="31" data-res-data="2884035">播放</a>
                        <a href="javascript:;" hidefocus="true" class="s-bg s-bg-10 f-tdn subscribe-flag " data-plid="2884035" title="收藏">收藏</a>
                    </div>
                </div>
            </dt>
            <dd>
                <ol>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''">
                        <span class="no no-top">1</span>
                        <a href="/song?id=1346093140" class="nm s-fc0 f-thide" title="关于孤独我想说的话 ">关于孤独我想说的话 </a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1346093140" data-res-action="play" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1346093140" data-res-action="addto" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1346093140" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''">
                        <span class="no no-top">2</span>
                        <a href="/song?id=1346105096" class="nm s-fc0 f-thide" title="嘲笑孤单">嘲笑孤单</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1346105096" data-res-action="play" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1346105096" data-res-action="addto" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1346105096" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''">
                        <span class="no no-top">3</span>
                        <a href="/song?id=1347692190" class="nm s-fc0 f-thide" title="独居男子">独居男子</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1347692190" data-res-action="play" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1347692190" data-res-action="addto" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1347692190" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''">
                        <span class="no">4</span>
                        <a href="/song?id=1347297663" class="nm s-fc0 f-thide" title="Diamond">Diamond</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1347297663" data-res-action="play" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1347297663" data-res-action="addto" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1347297663" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''">
                        <span class="no">5</span>
                        <a href="/song?id=1345630865" class="nm s-fc0 f-thide" title="没人在乎你">没人在乎你</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1345630865" data-res-action="play" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1345630865" data-res-action="addto" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1345630865" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">6</span>
                        <a href="/song?id=1347541140" class="nm s-fc0 f-thide" title="无题雪">无题雪</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1347541140" data-res-action="play" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1347541140" data-res-action="addto" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1347541140" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">7</span>
                        <a href="/song?id=1336864844" class="nm s-fc0 f-thide" title="蝴蝶效应">蝴蝶效应</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1336864844" data-res-action="play" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1336864844" data-res-action="addto" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1336864844" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">8</span>
                        <a href="/song?id=1346962070" class="nm s-fc0 f-thide" title="落草">落草</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1346962070" data-res-action="play" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1346962070" data-res-action="addto" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1346962070" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">9</span>
                        <a href="/song?id=1345848098" class="nm s-fc0 f-thide" title="绿色">绿色</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1345848098" data-res-action="play" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1345848098" data-res-action="addto" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1345848098" data-res-action="subscribe"></a>
                        </div>
                    </li>
                    <li onmouseover="this.className='z-hvr'" onmouseout="this.className=''" class="">
                        <span class="no">10</span>
                        <a href="/song?id=1347692944" class="nm s-fc0 f-thide" title="我想要温暖的把你回忆起（钢琴版）">我想要温暖的把你回忆起（钢琴版）</a>
                        <div class="oper">
                            <a href="#" class="s-bg s-bg-11" title="播放" hidefocus="true" data-res-type="18" data-res-id="1347692944" data-res-action="play" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="u-icn u-icn-81" title="添加到播放列表" hidefocus="true" data-res-type="18" data-res-id="1347692944" data-res-action="addto" data-res-from="31" data-res-data="2884035"></a>
                            <a href="#" class="s-bg s-bg-12" title="收藏" hidefocus="true" data-res-level="0" data-res-fee="8" data-res-type="18" data-res-id="1347692944" data-res-action="subscribe"></a>
                        </div>
                    </li>
                </ol>
                <div class="more"><a href="/discover/toplist?id=2884035" class="s-fc0">查看全部&gt;</a></div>
            </dd>
        </dl>
    </div>
</div>
</body>
</html>